# Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl.backup
*.tfvars
*.tfvars.json
!example.tfvars
crash.log

# Środowisko / sekrety
.env
*.pem
*.key

# OS / IDE
.vscode/settings.json
Thumbs.db
